@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');




.v-token {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: #191c29;
    border-radius: 13px;
    cursor: pointer;
    gap: 12px;
    transition: all 0.4s ease; /* 부드럽게 전환 */
    border: 2.0px solid #1ad3b7 !important;
    box-shadow: 0 0 12px 10px #b8dfd9;
    width: 100% !important;
    height: 90px !important;

}

.v-token:hover {
background: #1f2233; /* 어두운 청색 톤 */
border-color: #26ffe6;
box-shadow: 0 0 16px 6px #81f5e9;
}
.v-token img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.v-token-text {
font-weight: bold;
font-size: 24px;
color: #ffffff;
text-align: left;
font-weight: 700;
font-size: 16px;
color: #fff;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
font-family: 'DM Serif Display', serif;
font-weight: 400;
font-size: 30px;
color: #ffffff;
text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.v-token-text:hover {
color: #26ffe6;
transition: color 0.4s;
}




/* 4개 카드 */
.v-main-card-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: #191c29;
    border-radius: 13px;
    height: 110px;
    cursor: pointer;
    gap: 12px;
    transition: all 0.4s ease; /* 부드럽게 전환 */
    border: 2.0px solid #1ad3b7 !important;
    box-shadow: 0 0 12px 10px #b8dfd9;
    margin-bottom: 10px;
    
}

.v-main-card-two:hover {
    background: #1f2233; /* 어두운 청색 톤 */
    border-color: #26ffe6;
    box-shadow: 0 0 16px 6px #81f5e9;
}

.v-main-card-two-list {
    display:flex;
    justify-content:space-around;
    background: #191c29 !important;
    width: 100% !important;
    transition: all 0.3s ease; /* 부드럽게 전환 */
    

}
.v-main-card-two-item {
    display: flex;
    flex-direction: column;         /* 수직 정렬 */
    justify-content: center;        /* 세로 가운데 */
    align-items: center;            /* 가로 가운데 */
    text-align: center;
    cursor: pointer;
    background: #191c29 !important;
    width: 100%;
    gap: 6px;                        /* 아이콘과 텍스트 사이 간격 */
    
}


.v-main-card-two-item img {
    width: 40px;
    height: 40px;
    display: block;
}

.v-main-card-two-item span {
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.v-main-card-two-item span:hover {
    color: #26ffe6;
    transition: color 0.4s;
}



/* 코인시세 목록 */
.v-main-bottom-list-one{
    margin-bottom: 30px;
}



.v-main-bottom-list-one-box {
    background:#fafafa;
    margin-top:8px;
    padding:1px;
}
.v-main-bottom-list-one-head {
    background:#0e3a44 !important;
    height: 70px;
    padding:6px 0;
    display:flex;
    border: 2.0px solid #52eed6 !important;
    box-shadow: 0 0 24px 8px #58978f;
}
.v-main-bottom-list-one-item {
    display:flex;
    justify-content:space-between;
    padding:6px 0;
    border-bottom:1px solid #eee;
}
.v-main-bottom-list-one-item-img img {
    width:45px;
    height:45px;
    margin-right: 10px !important;
    margin-left: 5px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    margin: 2px;
    padding: 3px;
}


.v-main-bottom-list-one-head{
    display: flex;                /* flex 컨테이너로 만듦 */
    height: 70px;                 /* 부모 높이를 채우도록 */
    font-weight: bold;            /* 글자 두껍게 */
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}



.v-main-bottom-list-one-head-item-name{
    display: flex;                /* flex 컨테이너로 만듦 */
    justify-content: center;      /* 가로 가운데 */
    align-items: center;          /* 세로 가운데 */
    text-align: center;           /* 내부 텍스트 중앙 정렬 */
    cursor: pointer;
    color: #ffffff;
    width: 370px;
    height: 100%;                 /* 부모 높이를 채우도록 */
    font-size: 17px;

}

.v-main-bottom-list-one-head-item-price{
    display: flex;                /* flex 컨테이너로 만듦 */
    text-align:center;
    cursor:pointer;
    color: #ffffff;
    align-items: center;          /* 세로 가운데 */
    width: 160px;
    font-size: 17px;
    margin-right: 15px;    
}


.v-main-bottom-list-one-head-item-zhangfu{
    display: flex;                /* flex 컨테이너로 만듦 */
    text-align:center;
    cursor:pointer;
    color: #ffffff;
    align-items: center;          /* 세로 가운데 */
    width: 100px;
    font-size: 17px;
    margin-right: 10px;
}



.v-main-bottom-list-one-item{
border: 1.0px solid #808d8d !important;
box-shadow: 0 0 0px 0px #7a9995;
}







/* 숫자 자체 색상 */
.g-up {
    color: #4caf50; /* 녹색 */
    font-weight: bold;
}

.g-down {
    color: #f44336; /* 빨간색 */
    font-weight: bold;
}

/* 배경 강조 (예: 변동률 박스) */
.g-bg-font-color-up {
    color: #4caf50;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.g-bg-font-color-down {
    color: #f44336;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}



/* 플렉스 헬퍼 */
    .g-flex-align-center {
    display:flex;
    align-items:center;
    font-weight: bold;
    width: 240px;
    background-color: #f6fdff;
}
.g-flex-justify-end {
    display:flex;
    align-items:center;
    font-weight: bold;
    width: 140px ;
    background-color: #f6fdff;
    justify-content: center;      /* 가로 가운데 */
    text-align: center;  
}
.g-flex-justify-center11{
    display:flex;
    align-items:center;
    font-weight: bold;
    width: 120px ;
    background-color: #f6fdff;
    justify-content: center;      /* 가로 가운데 */
    text-align: center;  
}


.g-flex-column {
flex-direction:column;
}
  